RewriteEngine On

# Redirección de www a no-www
RewriteCond %{HTTP_HOST} ^www\.bawebstudio\.com [NC]
RewriteRule ^(.*)$ https://bawebstudio.com/$1 [L,R=301]

# Redirección de la URL con extensión a la URL sin extensión
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^views/gracias\.html$ /views/gracias [L,R=301]