<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BA Web Studio | We make your Website</title>
    <meta name="author" content="bawebstudio.com" />
    <!-- Canonical-->
    <link rel="canonical" href="https://bawebstudio.com">
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="../assets/navicon.png">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="../css/styles.css"/>
    <style>
        body{
            background: rgb(247,88,51);
            background: linear-gradient(180deg, rgba(247,88,51,1) 35%, rgba(247,241,241,1) 35%);
        }
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">        
        <div class="d-flex flex-column justify-content-center align-items-center" style="width: 500px; height: 500px; box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.50); background-color: white;">
            <img src="../assets/img/logo.png" width="125px" alt="...">
            <h1 class="text-center mt-4">Thanks!</h1>
            <a href="/" class="btn btn-primary btn-xl text-uppercase w-50" style="margin-top: 100px;">Back</a>
        </div>
    </div>
  </body>
</html>